[submodule "src/grippers/franka_ros"]
	path = src/grippers/franka_ros
	url = https://github.com/frankaemika/franka_ros.git
[submodule "src/robots/universal_robot"]
	path = src/robots/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
[submodule "src/patches/general-message-pkgs"]
	path = src/patches/general-message-pkgs
	url = https://github.com/JenniferBuehler/general-message-pkgs.git
[submodule "src/patches/gazebo-pkgs"]
	path = src/patches/gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs.git
